.example-card {
    max-width: 600px;

  }
  .content-social{
   margin: 0px;
  }
  .content-social a{
    
  }
  .btn-social{
     
  }
  .card-body{
    text-align: center;
    border: groove;
  }
  .card-img-top{
    align-self: center;
    width: 221px;
    border-radius: 36em;
    padding: 3em;
    margin: 3em;
}
.img-thumbnail{
  border-radius: 24em;
    font-size: 7px;
    height: 26em;
    width: 32em;
    align-self: center;
}
  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
    text-align: center;
  }
  .link-btn {
    /* background-color:#0a66c2;
    background-repeat: no-repeat;
    border: none; */
    /* cursor:pointer;
    overflow: hidden; */
    /* outline:none; */
    /* font-size: 0.8em;
    padding: 0px; */
  }
  
  .link-btn:hover {
    background-color: transparent;
    /* background-repeat: no-repeat; */
    /* border: none; */
    /* cursor:pointer;*/
    /* overflow: hidden; 
    outline:none;
    pointer-events: none; */
    /* font-size: 0.8em;
    padding: 0px; */
  }
  .linkdin{
    /* color: azure; */
  }

  .dashboard-card {
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
  }
  @media (max-width: 576px) {
    .content-social {
      margin: 0px;
      margin-right: 10px;
      padding-right: 18px;
      margin-inline: -15px;
    }
    .card-img-top{
      margin: 0em;
      border-radius: 15em;
      width: 171px;
    }
}