<div class="container">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <div class="card">
                <img class="card-img-top" src="https://material.angular.io/assets/img/examples/shiba1.jpg" alt="Card image cap">
                <div class="card-body">
                  <h1>Nestor Matias</h1>
                  <h2>FullStack Developer</h2>
                </div>
              </div>
            <div class="row content-social">
                <div class="col-4">
                  <a mat-raised-button class="btn-social"><fa-icon [icon]="twitter" 
                    size="1x" 
                    [styles]="{'stroke': 'red', 'color': 'rgb(29, 161, 242)'}"
                    ></fa-icon>follow me</a>
                </div>
                <div class="col-4">
                  <a mat-raised-button class="btn-social">
                    <fa-icon [icon]="gitHub" size="1x"></fa-icon><span>Follow me</span></a>
                </div>
                <div class="col-4">
                  <a mat-raised-button class="link-btn">
                    <fa-icon [icon]="linkedin" size="1x"
                    [styles]="{'stroke': 'red', 'color': '#0a66c2'}"></fa-icon><span class="linkdin">Follow me</span></a>
                </div>
               
                  
               
                  <!-- <a mat-raised-button class="link-btn"><fa-icon [icon]="linkedin" size="3x"
                        [styles]="{'stroke': 'red', 'color': '#0a66c2'}"></fa-icon><span class="linkdin">Follow me</span>
                  </a>   -->
                  <!-- <a mat-fab href="#" color="warn" aria-label="Example icon button with a home icon">
                    <mat-icon svgIcon="thumbs-up"></mat-icon>
                  </a> -->
            </div>
        </div>
        <div class="col-md-3">

            <!-- <span class="material-icons md-48">face</span> -->
            <!-- <button mat-button style="padding: 1rem;">
                <mat-icon style="width: 50px; height:30px"
                          svgIcon="logo"></mat-icon> Login With Google
                </button>  
            <button mat-button style="padding: 1rem;">
                    <mat-icon style="width: 50px; height:30px"
                              svgIcon="github"></mat-icon> Login With Google
            </button>  -->
        </div>
        <div class="row">
            <div class="col-md-12">

            </div>
        </div>
    </div>
</div>

