.example-card {
    max-width: 600px;

  }
  .content-social{
   margin: 0px;
  }
  .content-social a{
    
  }
  .card{
    border: blanchedalmond;
  }
  .btn-social{
     background-color: black;
  }
  .card-body{
    text-align: center;
    
  }
  .card-img-top{
    align-self: center;
    width: 221px;
    border-radius: 36em;
    padding: 3em;
    margin: 3em;
}
.img-thumbnail{
    border-radius: 24em;
    font-size: 7px;
    height: 26em;
    width: 32em;
    align-self: center;
}
  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
    text-align: center;
  }

.card_profile{
  padding: 18px;
  margin-top: 50px;
}

.card_profile li{
  
    font-size: small;
    font-family: monospace;
}
.card_profile span{
  float: left;
  background-color: crimson;
    color: white;
}

.card-title{
  font-size: large;
  font-family: monospace;
  text-align: justify;
}
.card-subtitle{
  text-align: initial;
  font-size: large;
    font-family: sans-serif;
}

.text-intro{
  font-size: small;
    font-family: monospace;
    text-align: justify;
}
.btn_download{
  margin-inline: 7px;
  float: left;
  background-color: #1c33af;
    border-color: #100b63;
    width: 10em;
    height: 3em;
    padding: 12px;
}
.btn_contact{
  float: left;
  color: #f8f9fa;
  background-color: #6c757d;
  width: 10em;
    height: 3em;
    padding: 12px;
}

  .dashboard-card {
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    height: -webkit-fill-available;
  }
  li {
    /* padding: 20px;
    margin: 3px; */
    text-align: right;
    contain: paint;
  }

  .section-skill {
    margin: 5em;
  }
  .skill{
    text-align: center;
  }
  @media (max-width: 576px) {
    .content-social {
      margin: 0px;
      margin-right: 10px;
      padding-right: 18px;
      margin-inline: -15px;
    }
    .card-img-top{
      margin: 0em;
      border-radius: 15em;
      width: 171px;
    }
    li{
      padding: 0px;
      margin: 0px; 
    }
    h2.lead {
      size: 6em;
      max-height: 16px;
    }

    .btn_download{
      width: 8em;
    }
    .btn_contact{
      width: 7em;
    }
}